.jumbotron{
	background-color: blue;
	color: black;
	margin-top: 50px;

}
.footer-address-icon{
	padding-right:10px; 
}
footer{
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom: 0px;
	margin-top: 10px;
	
}

.card-game{
	flex: 1 200px;
	margin-top: 10px;

}

.btn-learnmore{
	width: 100%;
	border-radius: 0px;


}

.btn-icon{
	padding-left: 5px;
}

.card-img-top{
	margin-bottom: 5px;
}

.tab-content{
	padding-top: 10px;
}